* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

#main {
    /* position: relative; */
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #333;
    z-index: 1;
}

#nav,
#nav > li {
    display: inline-block;
}

#nav,
.subnav {
    list-style: none;
}

#nav li {
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #333;
    background-color: #ccc;
}

#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 21px;
}

#header #search-icon {
    color: #fff;
    font-size: 20px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

/* Không chuyển động */

#silder {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/chicago.jpg') top center / cover no-repeat;
}

#silder .text-content {
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

#silder .text-heading {
    font-weight: 400;
    font-size: 24px;
}

#silder .text-description {
    font-size: 15px;
    margin-top: 25px;
}

/* Chuyển động */

/* #silder {
    position: relative;
    margin-top: 46px;
}

#silder .mySilder {
    position: absolute;
    display: none;
    
}

#silder .text-content {
    position: absolute;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

#silder .text-heading {
    
}

#silder .text-description {
    font-size: 15px;
    margin-top: 25px;
} */

#content {
}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
}

/* #content .bg-black {
    background-color: #000;
} */

#footer {
}
